$shadow-key-umbra-opacity: rgba(154, 198, 252, 0.2);
$shadow-key-penumbra-opacity: rgba(154, 198, 252, 0.14);
$shadow-key-ambient-opacity: rgba(154, 198, 252, 0.12);

// $shadow-key-umbra-opacity: rgba(154, 198, 252, 0.5);
// $shadow-key-penumbra-opacity: rgba(154, 198, 252, 0.30);
// $shadow-key-ambient-opacity: rgba(154, 198, 252, 0.20);
// @import '~vuetify/src/styles/styles.sass';
